{% extends 'base.html.twig' %}

{% block body %}
<script src="/js/jcanvas.min.js"></script>
    <div class="container full-size">
        <div class="row full-size">
            <div class="col-sm-3">
                <div class=" ui-widget">
                    <div class="ui-widget-header">
                        Etagen
                    </div>
                    <ul class="floor-list ui-widget-content">
                        <li class="add" id="new_floor_container">
                            <i class="fa fa-plus new-floor" data-toggle="modal" data-target="#newFloorModal" title="neue Etage" style="color: dodgerblue;"></i>
                            {#<i class="fa fa-plus new-floor" title="neue Etage" style="color: dodgerblue;"></i>#}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 full-size">
                <div class="ui-widget row floor-column">
                    <div id="current_floor_container">
                        <span>Aktuelle Etage:</span>
                        <span id="current_floor"></span>
                        <span>Aktueller Raum:</span>
                        <span id="current_room"></span>
                    </div>

                    <i class="far fa-edit"></i>
                    <i class="far fa-user"></i>
                </div>

                <div class="row">
                    <div class="full-size" id="col-sm-12 floor_tabs_container">
                        <div id="floor_container" class="col-sm-12 full-size">
                            <canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
                            <div style="position:absolute;top:12%;left:43%;">Choose Color</div>
                            <div style="position:absolute;top:15%;left:45%;width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
                            <div style="position:absolute;top:15%;left:46%;width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
                            <div style="position:absolute;top:15%;left:47%;width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
                            <div style="position:absolute;top:17%;left:45%;width:10px;height:10px;background:yellow;" id="yellow" onclick="color(this)"></div>
                            <div style="position:absolute;top:17%;left:46%;width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div>
                            <div style="position:absolute;top:17%;left:47%;width:10px;height:10px;background:black;" id="black" onclick="color(this)"></div>
                            <div style="position:absolute;top:20%;left:43%;">Eraser</div>
                            <div style="position:absolute;top:22%;left:45%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
                            <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
                            <input type="button" value="save" id="btn" size="30" onclick="save()" style="position:absolute;top:55%;left:10%;">
                            <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:55%;left:15%;">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 info">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#</div>#}

    <!-- Modal New Floor -->
    <div class="modal fade" id="newFloorModal" tabindex="-1" role="dialog" aria-labelledby="newFloorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newFloorModalLabel">Neue Etage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="floor_name" class="col-sm-2">
                            Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="floor_name">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label for="floor_width" class="col-sm-2">
                            Breite
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="floor_width">
                        </div>
                        <span class="col-sm-1">cm</span>
                    </div>
                    <div class="form-group row">
                        <label for="floor_length" class="col-sm-2">
                            Länge
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="floor_length">
                        </div>
                        <span class="col-sm-1">cm</span>
                    </div>
                    <div class="form-group row">
                        <label for="floor_height" class="col-sm-2">
                            Höhe
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="floor_height">
                        </div>
                        <span class="col-sm-1">cm</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary">Erstellen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal New Room-->
    <div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="newRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newRoomModalLabel">Neuer Raum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="room_name" class="col-sm-2">
                            Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="room_name">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label for="room_width" class="col-sm-2">
                            Breite
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="room_width">
                        </div>
                        <span class="col-sm-1">cm</span>
                    </div>
                    <div class="form-group row">
                        <label for="room_length" class="col-sm-2">
                            Länge
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="room_length">
                        </div>
                        <span class="col-sm-1">cm</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary">Erstellen</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block inline_javascript %}
<script src="/js/jcanvas.min.js"></script>
<script type="text/javascript">
    var mouseX = null;
    var mouseY = null;

    var canvas = document.getElementById('can');
    var ctx = canvas.getContext("2d");
    ctx.font = "30px Comic Sans MS";
    ctx.fillStyle = "red";
    ctx.textAlign = "center";
    ctx.fillText("Hello World", canvas.width/2, canvas.height/2);

    var snapToAmount = 40;

    // Round the given value to the nearest multiple of n
    function nearest(value, n) {
        return Math.round(value / n) * n;
    }

    $('#can').drawArc({
        layer: true,
        draggable: true,
        fillStyle: '#36c',
        x: 160, y: 120,
        radius: 50,
        updateDragX: function (layer, x) {
            return nearest(x, snapToAmount);
        },
        updateDragY: function (layer, y) {
            return nearest(y, snapToAmount);
        }
    })

</script>
{% endblock inline_javascript %}